@charset "UTF-8";

.section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* section-top 시작 */
.section-top {
	font-size: var(--font-size-4xl);
	font-weight: bold;	
}

/* section-center 시작 */
.section-center {
	background-color: white;
	border: 1px solid var(--gray-line-box);
	padding: 30px 30px;
	border-radius: var(--br-xl);
	min-width: 900px;
	min-height: 830px;
}

/* list-items 시작 */
.list-items {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.item-title {
	font-size: var(--font-size-2xl);
	font-weight: bold;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.item-content {
	padding: 20px;
	background-color: var(--bg-1);
	border-radius: 10px;
}	
.item-btn {
	padding: 8px 15px;
	color: white;
	border: none;
	background-color: var(--primary-p-70);
}
.item-btn:hover {
	background-color: var(--primary-p-60);
}

/* item-table 시작 */
.item-lists {
	display: flex;
    justify-content: space-between;
}
.item-list {
	width: 100%;
	text-align: center;
}
.list-row {
	color: var(--primary-p-70);
}
.list-colums {
	background-color: white;
	margin-top: 10px;	
	padding: 10px;
}
.list-colum {
	padding: 4px;
}
.item-lists .item-list:first-child .list-colums {
	border-radius: 10px 0 0 10px;
}	
.item-lists > .item-list:last-child .list-colums {
	border-radius: 0 10px 10px 0;
}	
.list-null {
	background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    color: var(--gray-text-disabled);
}
	

/* 개강 강의 리스트 검색 영역 시작 */
.select-boxs {
	display: flex;
	align-items: flex-end;
    margin-bottom: 8px;
    justify-content: space-between;
}
.select-boxs-left {
	display: flex;
	align-items: flex-end;
	gap: 10px;
}
.sel-box {
	padding: 5px 5px;
}
.sel-box select {
	border: none;
	outline: none;
}
.sel-zip {
	display: flx
}
.search-box {
	display: flex;
    padding: 8px 15px;
    border-radius: 100px;
    border: 1px solid var(--gray-line-box);
}
.search-input {
	border: none;
	outline: none;
	font-size: 16px;
    padding: 0 10px 0 0;
    width: 205px;
}
.search-btn {
	cursor: pointer;
    width: 20px;
}
.search-btn:hover {
	filter: var(--filter-p-50);
}

/* 테이블 시작 */
.table-wrap {
	width: 100%; 
}
.table-wrap table {
	white-space: nowrap;
	width: 100%;
}
.table-wrap th, td {
	height: 50px;
	padding: 0 var(--pd-table);
	text-align: center;
}
.table-wrap th {
	background: var(--bg-1);
	text-align: center;
}
.table-wrap td {
	border-top: 1px solid var(--table-td);
	border-bottom: 1px solid var(--table-td);
}
thead tr {
	position: sticky;
	top: -1px;
	background-color: #f9f9f9;
	z-index: 1; /* Make sure the header stays on top */
}	


/* 날짜 이동 */
.year-term-box{
	border : 1px solid var(--gray-bg-5);
	width: 220px;
	height : 40px;
	display : flex;
	font-size: 1rem;
	border-radius: 10px;
}
.yt-box{
	display: flex;
    justify-content: center;
    align-items: center;
}
.yt-box-left{
	border-right : 1px solid var(--gray-bg-5);
	width: 30px;
	height: 100%;
	background: var(--bg-1);
	border-radius: 10px;
	color: var(--primary-p-70);
}
.yt-box-right{
	background: var(--bg-1);
	border-left : 1px solid var(--gray-bg-5);
	height: 100%;
	width: 30px;
	border-radius: 10px;
	color: var(--primary-p-70);
}
.yt-box-content{
	width : 160px;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	