<?xml version="1.0" encoding="UTF-8"?>

<!-- 이 문서는 myBatis에서 처리할 SQL문을 작성하는 문서입니다 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="room">
<!-- 건물 조회하기 -->
	<sql id="dynamicAva">
		<if test="room_available > -1">
			and room_available = #{room_available}
		</if>
	</sql>
	
	<sql id="dynamicId">
		<if test="room_id != null and room_id != ''">
			and room_id = #{room_id}
		</if>
	</sql>
	
	<sql id="dynamicNum">
		<if test="room_num != null and room_num != ''">
			and room_num = #{room_num}
		</if>
	</sql>
	
	<select id="roomList" parameterType="roomVo" resultType="roomVo">
	select room_id, room_num, room_available, room_remark from(
		select room_id, room_num, room_available, room_remark, rownum rs
		from lec_room
		where 1=1
		<include refid="dynamicAva" />
		<include refid="dynamicId" />
		<include refid="dynamicNum" />
		order by substr(room_id,1,1), to_number(substr(room_id,2,2))
		<![CDATA[) where rs between #{start} and #{end} 
		  ]]>
	</select>	
	
	<select id="roomListCount" parameterType="roomVo" resultType="int">
		select count(*)
		from lec_room
		where 1=1
		<include refid="dynamicAva" />
		<include refid="dynamicId" />
		<include refid="dynamicNum" />
	</select>	
	
	<!-- 건물 -->
	<select id="buildingList" resultType="roomVo">
		select distinct room_id
		from lec_room
		order by substr(room_id,1,1), to_number(substr(room_id,2,2))
	</select>
	
	<!-- 건물에 해당하는 호수 -->
	<select id="roomNumList" parameterType="String" resultType="roomVo">
		select room_num
		from lec_room
		where room_id=#{room_id}
	</select>
	
	<!-- 추가 -->
	<insert id="insertRoom" parameterType="roomVo">
		insert into lec_room(room_id, room_num)
		values(#{room_id}, #{room_num})
	</insert>
	
	<!-- 변경 -->
	<update id="updateRoom" parameterType="roomVo">
		update lec_room
		set room_available=#{room_available},
		room_remark=#{room_remark}
		where room_id=#{room_id}
		<include refid="dynamicPart" />
	</update>
	
	<sql id="dynamicPart">
		<if test="room_num != null and room_num != ''">
			and room_num = #{room_num}
		</if>
	</sql>
	
	<!-- 삭제 -->
	<delete id="deleteRoom" parameterType="roomVo">
		delete lec_room
		where room_id=#{room_id}
		<include refid="dynamicPart" />
	</delete>
	
	<select id="deleteChk" parameterType="roomVo" resultType="int">
		select count(*)
		from lec_time
		where room_id=#{room_id}
		<include refid="dynamicPart" />
	</select>
</mapper>